<div class="row">
  <div class="col-auto mr-auto">
    <a href="/todos/new" class="btn btn-warning mb-4">Create</a>
  </div>
  <div class="col-auto">
    {{!-- sort --}}
    <div class="dropdown d-flex align-items-end justify-content-end btn-group">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">篩選器</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="name_asc">A→Z</a>
        <a class="dropdown-item" href="name_desc">Z→A</a>
      </div>
    </div>
  </div>
</div>

<ul class=" list-group">
  {{#each todos}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto mr-auto">
        <input type="checkbox" name='done' {{#if this.done}}checked{{/if}} disabled>
        <h4 style="display: inline;vertical-align: middle;">{{{this.name}}}</h4>
      </div>
      <div class="col-auto">
        <a href="/todos/{{{this.id}}}" class="btn btn-primary">Detail</a>
        <a href='todos/{{{this.id}}}/edit' class="btn btn-success">Edit</a>
        <form action='todos/{{{this.id}}}/delete?_method=DELETE' method="POST" style="display: inline">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>